/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    color: white;
    font-size: 14px;
}


/* header */

header{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left > div{
    display: inline-block;
}

.header-left > div, .header-right > div{
    margin: 0 10px;
}

.shield{
    color: #23d959;
}

.view > i{
    margin-right: 5px;
}


/* main */
.container{
    display: flex;
    height: calc(100vh - 95px);
}

.content-left{
    width: 10%;
    color: #7e7e7e;
}

.content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.content-left{
    display: flex;
    align-items: center;
}

.call-page{
    text-align: center;
    margin-left: 5px;
    padding: 10px 10px 5px;
    border: 1px solid black;
    box-shadow: 0 20px 30px 2px #1a1a1a inset;
    background-color: black;
}

.call-page i{
    font-size: 50px;
    color: #2db7ff;
}

.user{
    position: relative;
    width: calc(20% - 5px);
    height: calc(20% - 5px);
    border-radius: 8px;
    overflow: hidden;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur();
}

.user-name{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1px 3px;
}

.user-name i{
    color: #ff5c5c;
}
.user-name i,.user-name .name{
    margin: 0 3px;
}
/* footer */
