/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    color: white;
    font-size: 14px;
}


/* button */
.btn{
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 14px;
    cursor: pointer;
}

main .btn, footer .btn{
    color: #aaabac;

}

.btn.page i{
    font-size: 50px;
    color: #2db7ff;
}

.btn.page{
    text-align: center;
    margin: 0 10px;
    padding: 10px 10px 5px;
    border: 1px solid black;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,35,37,1) 100%);
}


footer .btn i.main-icon{
    font-size: 18px;
} 
footer .btn .icon-text{
    font-size: 12px;
}

.btn.end{
    background-color: #e02828;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin: 0 10px;
}

footer .btn.action.select{
    color: #23d959;
}

footer .btn.action:hover{
    color: white;
}


/* header */

header{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.header-left > div{
    display: inline-block;
}

.header-left > div, .header-right button{
    background-color: #101010;
    padding: 5px;
    border-radius: 5px2;
}

.shield, .recording{
    vertical-align: middle;
}

.recording::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;;
    background-color: red;
    border: 4px solid #9e9e9e;
    vertical-align: middle;
    margin-right: 5px;
    box-shadow: 0 0 0 0.5px white;
}

.shield{
    color: #23d959;
}

.view > i{
    margin-right: 5px;
}


/* main */
.container{
    display: flex;
    height: calc(100vh - 95px);
}

.content-left, .content-right{
    width: 10%;
    color: #7e7e7e;
}

.content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    overflow-y: auto;
}

.content-left, .content-right{
    display: flex;
    align-items: center;
}

.content-right{
    justify-content: flex-end;
}

.content-center::-webkit-scrollbar{
    width: 0;
    background: transparent;
}



.user{
    position: relative;
    width: calc(20% - 3px);
    height: 150px;
    margin-top: 3px;
    border-radius: 8px;
    overflow: hidden;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.user-name{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1px 3px;
}

.user-name i{
    color: #ff5c5c;
}
.user-name i,.user-name .name{
    margin: 0 3px;
}

/* footer */

footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,35,37,1) 100%);
}

.actions-left, .actions-center, .actions-right{
    display: flex;
}
.action{
    text-align: center;
    margin: 0 10px;
}


.icons{
    position: relative;
    padding: 0 20px;
    height: 20px;
}

.icons .fa-angle-up{
    position: absolute;
    top: 0;
    right: 0;
}



.fa-angle-up{
    font-size: 10px;
}

#share-screen .main-icon{
    color: black;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 3px;
    background-color: #23d959;
}

#participants-icon{
    padding: 0 40px;
}

#participants-icon::before{
    content: "34";
    position: absolute;
    top: -5px;
    right: 20%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}