/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    color: white;
    font-size: 14px;
}

/* header */

header{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left > div{
    display: inline-block;
}

.header-left > div, .header-right > div{
    margin: 0 10px;
}

.shield, .recording{
    vertical-align: middle;
}
.recording::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;;
    background-color: red;
    border: 4px solid #9e9e9e;
    vertical-align: middle;
    margin-right: 5px;
    box-shadow: 0 0 0 0.5px white;
}

.shield{
    color: #23d959;
}

.view{
    cursor: pointer;
}

.view > i{
    margin-right: 5px;
}


/* main */
.container{
    display: flex;
    height: calc(100vh - 95px);
}

.content-left{
    width: 10%;
    color: #7e7e7e;
}

.content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.content-left{
    display: flex;
    align-items: center;
}

.call-page{
    text-align: center;
    margin-left: 5px;
    padding: 10px 10px 5px;
    border: 1px solid black;
    box-shadow: 0 20px 30px 2px #1a1a1a inset;
    background-color: black;
    cursor: pointer;
}

.call-page i{
    font-size: 50px;
    color: #2db7ff;
}

.user{
    position: relative;
    width: calc(20% - 5px);
    height: calc(20% - 5px);
    border-radius: 8px;
    overflow: hidden;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur();
}

.user-name{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1px 3px;
}

.user-name i{
    color: #ff5c5c;
}
.user-name i,.user-name .name{
    margin: 0 3px;
}

/* footer */

footer{
    display: flex;
    height: 50px;
    background-color:#212325;
    justify-content: space-between;
    align-items: center;
    color: #aaabac;
}

.actions-left, .actions-center, .actions-right{
    display: flex;
}
.action{
    text-align: center;
    margin: 0 10px;
}

.action:hover{
    color: white;
    cursor: pointer;
}

.icons{
    position: relative;
    padding: 0 20px;
    height: 20px;
}

.icons .fa-angle-up{
    position: absolute;
    top: 0;
    right: 0;
}

footer i.main-icon{
    font-size: 18px;
} 

.fa-angle-up{
    font-size: 10px;
}

footer .icon-text{
    font-size: 12px;
}

button.end{
    background-color: #e02828;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
}

#share-screen{
    color: #23d959;
}

#share-screen .main-icon{
    color: black;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 3px;
    background-color: #23d959;
}

#participants-icon{
    padding: 0 40px;
}

#participants-icon::before{
    content: "34";
    position: absolute;
    top: -5px;
    right: 20%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}